@font-face {
  font-family:RobotoLight;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family:RobotoMedium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family:Robotobold;
  src: url("../fonts/Roboto-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /*=======MAIN=======*/
  
  header{
    height: 100vh;
    margin-bottom: 10%;
  }
  
  .headerContainer, .headerContainerDark{
    padding: 5% 5% 2.5% 5%;
  }
  
  .headerContainer h2{
    font-family:RobotoMedium;
    margin-top:20% ;
    font-size: 3rem;
  color: #141e30;
  }

  .headerContainerDark h2{
    margin-top:20% ;
    font-size: 3rem;
  color: #ece9ec;
  }
  
  #light{
    color: #141e30;
    background:linear-gradient(to right, #d6d4d1,#ece9e6);
  }
  
  #dark{color: #ece9e6;
    background:linear-gradient(to right, #141e30,#243b55);
  }
  
  .icon{
    vertical-align: bottom;
    font-size: 3.5rem;
  }
  
  .headerContainer h1{
    font-family:Robotobold;
    padding: 5% 5% 1% 5%;
    font-size: 4rem;
    background: linear-gradient(to right, #466196, #8DB9E3,#8DB9E3,#466196);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .headerContainerDark h1{
    font-family:Robotobold;
    padding: 5% 5% 1% 5%;
    font-size: 4rem;
    background: linear-gradient(to right, #283756, #59758f,#59758f,#283756);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #fullStack{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
  .headerContainer p{
    font-family:RobotoLight;
    color: #141e30;
    margin-left: 10%;
    padding: 2%;
    font-size: 2rem;
  }

  .headerContainerDark p{
    font-family:RobotoLight;
    color: #ece9e6;
    margin-left: 10%;
    padding: 2%;
    font-size: 2rem;
  }
  
  .getInTouch{
    font-family:RobotoMedium;
    width: 40%;
    font-size: 3rem;
    margin: 5% 0 0 15%;
    color: #141e30;
  }

  .getInTouchDark{
    width:40%;
    font-size: 3rem;
    margin: 5% 0 0 15%;
    color: #ece9e6;
  }
  
  .headerImg{
    border-radius: 20px;
    height: 35%;
    width: 35%;
  }

  .memojiContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

  .callMeMemoji{margin: -10% 0 15% 50%;
    height: 20%;
    width: 20%;
}
  
  main{
    height: 100vh;
  }