.aboutMeContainer{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #141e30;
}

.C64{
height: 100vh;
background-size: contain;
opacity: 45%;
}

.aboutMeContainer h2{
    position: absolute;
    top: 15%;
    margin: 1% 5%;
z-index: 2;
font-size: 4rem;
color: #ece9e6; 
}

.aboutMeContainer p{
    top: 30%;
    position: absolute;
    margin: 1% 5%;
z-index: 2;
font-size: 1.5rem;
color: #ece9e6;
}