@font-face {
    font-family:RobotoLight;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family:RobotoMedium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family:Robotobold;
    src: url("../fonts/Roboto-Bold.ttf");
}

.navbarWrapper{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #466196, #8DB9E3,#8DB9E3,#466196);
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: 97%;
}

.backButton{
    margin-left: 5%;
    background: transparent;
    border: transparent;
    cursor: pointer;
    color:#ece9e6;
}

.backIcon{
    font-size: 1rem;
    color: #ece9e6;
}

.helloMemoji{margin: 0 15% 15% 30%;
    height: 50%;
    width: 50%;
}

.navbarWrapperDark{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #283756, #59758f,#59758f,#283756);
    background-blend-mode: darken;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: 97%;
}

.memojiContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarMain{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbarH{ 
    font-family: RobotoBold;
    font-size: 1rem;
    color: #ece9e6;
}

.navbarA{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    color: #ece9e6;
}

#LI:hover{
    color: #04619F;
}

.navbarSocialMedia{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navButtonDiv{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 35%;
}

.flag{margin: 0 5%;
    height: 5vh;
    width: 7vw;
}

.navbarButton{
    margin-right: 5%;
    font-family:RobotoMedium;
    font-size: em;
    color:#ece9e6;

    background: transparent;
    border: transparent;
    cursor: pointer;
}

.LI:hover{
    color: #04619F;
    background-color: white;
}

.Git:hover{
    color: black;
    background-color: white;
    border-radius: 50%;
}

.reactIcon{color: #ece9e6;
    font-size: 1rem;
}

.themeButton{
        margin-right: 5%;
    background: transparent;
    border: transparent;
    cursor: pointer; 
}

.reactIcon:hover{
    color: #ece9e6;
}

.Link{
    cursor: pointer;
    text-decoration: none;
}

.Link:hover{
    color: #ece9e6;
    text-decoration: underline;
}

.active>h4{
    text-decoration: underline;
 }

 .active>h3{
    text-decoration: underline;
 }
 
