.navbarWrapper{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #667db6, #0082c8,#0082c8, #667db6);
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox{
    margin-left: 50px;
    position: relative;
width: 80px;
height: 50px;
appearance: none;
background: #ffffff;
outline: none;
border-radius: 20px;
box-shadow: 0 0 0 5px #111111;
transition: .5s;
cursor: pointer;
}

.checkbox:checked{
background:#ffffff;
}
.checkbox:before{

    position: absolute;
    content: "";
    background-image: linear-gradient(to right, #04619F , #000000);
    top: 5px;
    left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px #111111;
    transition: .5s;
    }

.checkbox:checked:before{
left: 38px;
}

.navbarMain{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h4{ 
    font-size: 2rem;
    color: #ece9e6;
}

.nose{
    margin-left: 50px;
    font-size: 2rem;
    text-align: center;
    color: #ece9e6;
}

.navbarP{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    color: #ece9e6;
}

.mouth{
    margin-left: 50px;
    position: relative;
    top: -50px;
    font-size: 4rem;
    color: #ece9e6;
    text-align: center;
}

.navbarSocialMedia{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navButtonDiv{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 35%;
}

.flag{margin-left: 50px;
    height: 50px;
    width: 50px;
}

.navButtonDiv button{
    font-size: 2rem;
    color:#ece9e6;
}

.navbarButton{margin-right: 5%;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.reactIcon{color: #ece9e6;
    font-size: 2rem;
}

.themeButton{
        margin-right: 50px;
    background: transparent;
    border: transparent;
    cursor: pointer; 
}

.reactIcon:hover{
    color: #ece9e6;
}