*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*=======MAIN=======*/

header{
  height: 100vh;
}

.headerContainer{
  padding: 5% 5% 2.5% 5%;
}

.headerContainer h2{
  font-size: 3rem;
  background: linear-gradient(to right, #667db6, #0082c8,#0082c8, #667db6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#light{
  background-color: #f3ebf6;
}

#dark{
  background-color: #46045e;
}

.icon{
  vertical-align: bottom;
  font-size: 3.5rem;
}

.headerContainer h1{
  padding: 5% 5% 1% 5%;
  font-size: 4rem;
}
.headerContainer p{
  margin-left: 10%;
  padding: 2%;
  font-size: 2rem;
}

.getInTouch{font-size: 3rem;
  margin: 5% 0 0 15%
}

.headerImg{
  border-radius: 20px;
  height: 35%;
  width: 35%;
}

main{
  height: 100vh;
}